body{
    height: 90vh;
}

header{
    height: 70px;
    z-index: 1000;
    position: fixed;
    background-color: #039F5F;
}
header img{
    height: 38%;
}
.navbar a {
    padding: 12px 0;
    color: #fff;
    font-family: nobel;
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    text-align: center; 
    display: block;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.home-center {
    text-align: center;
}

.home-text{
    font-weight: 700;
    color: #009e5f;
}
.home-center button {
    margin-top: 15px; 
}

.explore-btn1{
    border: 3px solid #009e5f;
    font-weight: 700;
    border-radius: 0;
}

.section2-text{
    position: absolute;
    line-height: 3.55rem;
    text-align: left;
    margin:  10rem 0 0 7rem;
    display: flex;
    flex-direction: column;
}
.section2-heading{
    color: #fff;
    font-weight: 700;
    font-size: 3.3rem;
}
.section2-sub{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.explore-btn2{
    border: 0;
    background-color: white;
    border-radius: 0;
    font-weight: 700;
    width: fit-content;
}

.explore-btn2:hover{
    background-color: #039F5F;
}
.section3-module{
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.section3-text {
    font-size: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fe5887;
    color: #fff;    
}
.img-rotation .one{
    width: 40%;
}
.img-rotation .two{
    width: 90%;
}
.img-rotation .three{
    width: 40%;
}
.changing-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.changing-img li{
    list-style: none;
}

.details{
    background:  #ececec;
    padding-top: 84px;
    padding-left: 82px;
}

.details h1{
    font-size: 84px;
    color: #009e5f;
    text-transform: uppercase;
    margin: 35px 0 22px;
    font-weight: 700;
}
.spot{
    color: #d71e05;
}

.details p{
    font: 400 18px / 1.2 "Nobel", Helvetica, Arial, sans-serif;
    font-family: cursive;
    color: #818182;
}

.details img{
    display: block;
    margin: 80px auto 0 0;
    width: 100%;
    max-width: 400px;
}
.footer-bg {
    position: relative;
}
.footer-img2{
    position: absolute;
    width: 35%;
    top: 120px;
    right: 15%;
}

.box {
    position: absolute;
    width: 80%;
    padding: 15px;
    margin-left: 10%;
    bottom: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, .75);
    font-weight: 500 ;
}

.social {
    font-size: 22px;
    list-style: none;
}

.social li,.utility li{
    padding: 0 13px;
    display: inline;
}

footer a{
    color: #636363;
    text-decoration: none;
    white-space: nowrap;
}
.utility{
    list-style: none;
    font-size: 12px;
}
.credit {
    color: #636363;
    font-size: 12px;
}
.sec1-l{
    padding: 30px;
    margin-top: 50px;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}

@media (max-width: 992px) {
    .mobile{
    display: block;
    }
    .desktop{
    display: none;
    }
      
    .section2-text {
        margin: 0;
        position: relative;
        text-align: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .section2-heading{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .section2-sub{
        color: #fff;
        font-size: 1rem;
        line-height: .5rem;
    }
    .section2-text button{
        margin-top: 20px;
    }
    
}

@media (max-width: 768px) {
    .sec1-l{
        padding: 0;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .sec1-l img{
        padding-left: 20%;
        padding-right: 20%;

    }
    .play-btn{
        left: 50%;
        top: 35%;
    }
    .mob-view {
        margin-top: 50px !important;
        margin-bottom: 40px !important;
    }
    .footer-img2 {
        top: 50px;
    }
}

@media (max-width: 576px) {
    .section3-text h2{
        font-size: 21px;
    }
    .details h1{
        font-size: 60px;
    }
}